
body {
    height: 100vh;
    background-image: url(Images/background.png);
    background-size: cover;
}

nav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    
}

nav a {
    color: white;
    text-decoration: none;
    font-family: Organic Relief;
    margin: 0px 20px;
}

.links {
    justify-self: end;
    align-self: center;
}

h1 {
    color: blue;
    justify-self: center;
}