body {
    height: 100vh;
    background-image: url(Images/background.png);
    background-size: cover;
}

nav {
    display: grid;
    grid-template-columns: 1fr 4fr;

}

nav a {
    color: white;
    text-decoration: none;
    font-family: Organic Relief;
    margin: 0px 20px;
}

.links {
    justify-self: end;
    align-self: center;
}

h1 {
    color: blue;
    justify-self: center;
    font-family: Organic Relief;
}

nav a:hover {
    color: blue;
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 400px;
    /* grid-template-rows: 1fr 1fr 2fr; */
    background-color: black;

    width: 80%;
    margin: 100px auto;
}

.box img {
    width: 50%;
}